<div class="alert alert-danger">
    <p>Field is required.</p>
</div>

<form method="post" action="#" class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-3">Label (string) <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <p class="form-control-static">Value</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Label (currency) <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <p class="form-control-static number own_currency_symbol">90000000</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Text <i class="fa fa-circle own_require"></i> <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <input type="text" class="form-control input-sm"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Autocomplete <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <script>
                $(document).ready(function(){
                    $("#tags").autocomplete({
                      source: [
						  "ActionScript",
						  "AppleScript",
						  "ASP",
						  "BASIC",
						  "C",
						  "C++",
						  "Clojure",
						  "COBOL",
						  "ColdFusion",
						  "Erlang",
						  "Fortran",
						  "Groovy",
						  "Haskell",
						  "Java",
						  "JavaScript",
						  "Lisp",
						  "Perl",
						  "PHP",
						  "Python",
						  "Ruby",
						  "Scala",
						  "Scheme"
						]
                    });
                });
            </script>
            <input type="text" class="form-control input-sm" id="tags"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Email <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <input type="email" class="form-control input-sm"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Number <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <input type="number" class="form-control input-sm" value="0"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Currency <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <input type="text" class="form-control input-sm currency_input" value="0"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Readonly <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <input type="text" class="form-control input-sm" readonly="readonly"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Disabled <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <input type="text" class="form-control input-sm" disabled="disabled"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Combobox <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <select class="form-control input-sm">
                <option value="">Show All</option>
            </select>
        </div>
    </div>

    <fieldset disabled>
        <div class="form-group">
            <label class="control-label col-sm-3">Disabled Combobox <span>&nbsp;:</span></label>
            <div class="col-sm-3">
                <select class="form-control input-sm">
                    <option value="">Show All</option>
                </select>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <label class="control-label col-sm-3">Combobox Search <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <select class="form-control input-sm combo_search">
                <option value=""></option>
                <option value="001">001 - Salman</option>
                <option value="002">002 - Achmad</option>
                <option value="003">003 - Muchlis</option>
                <option value="004">004 - Alrasyid</option>
                <option value="005">005 - Trio</option>
                <option value="006">006 - Ferdinan</option>
                <option value="007">007 - Simamora</option>
                <option value="008">008 - Bayu</option>
                <option value="009">009 - Santoso</option>
                <option value="010">010 - Adi</option>
                <option value="011">011 - Wijaya</option>
                <option value="012">012 - Yuli</option>
                <option value="013">013 - Andika</option>
                <option value="014">014 - Rosa</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Popup <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <script>
                $(document).ready(function(){
                    $("#popup1").click(function() {
                        showPopup('popupmaster.html#/popup', 'Function title');
                    });
                });
            </script>
            <div class="input-group input-group-sm">
                <input type="text" class="form-control">
                <span class="input-group-addon" id="popup1" data-toggle="modal">
                    <span class="glyphicon glyphicon-credit-card"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <script>
            $(document).ready(function(){
                yearPicker('yearpicker');
            });
        </script>
        <label class="control-label col-sm-3">Year Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="yearpicker">
                <input type="text" class="form-control" value="1991"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <script>
            $(document).ready(function(){
                monthYearPicker('monthyearpicker');
            });
        </script>
        <label class="control-label col-sm-3">Month Year Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="monthyearpicker">
                <input type="text" class="form-control" value="march/1991"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <script>
            $(document).ready(function(){
                calenderTimePicker('datetimepicker1');
            });
        </script>
        <label class="control-label col-sm-3">Datetime Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="datetimepicker1">
                <input type="text" class="form-control" value="31/03/1991 01:15"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <script>
            $(document).ready(function(){
                calenderPicker('datepicker1');
            });
        </script>
        <label class="control-label col-sm-3">Date Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="datepicker1">
                <input type="text" class="form-control" value="31/03/1991"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <script>
            $(document).ready(function(){
                yearPickerRange('yearpickerrange1','yearpickerrange2');
            });
        </script>
        <label class="control-label col-sm-3">Range Year Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="yearpickerrange1">
                <span class="input-group-addon">from</span>
                <input type="text" class="form-control" value="1991"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="yearpickerrange2">
                <span class="input-group-addon">until</span>
                <input type="text" class="form-control" value="1992"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <script>
            $(document).ready(function(){
                monthYearPickerRange('monthyearpickerrange1','monthyearpickerrange2');
            });
        </script>
        <label class="control-label col-sm-3">Range Month Year Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="monthyearpickerrange1">
                <span class="input-group-addon">from</span>
                <input type="text" class="form-control" value="march/1991"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="monthyearpickerrange2">
                <span class="input-group-addon">until</span>
                <input type="text" class="form-control" value="april/1991"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <script>
            $(document).ready(function(){
                calenderTimePickerRange('datetimepickerrange1','datetimepickerrange2');
            });
        </script>
        <label class="control-label col-sm-3">Range Datetime Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="datetimepickerrange1">
                <span class="input-group-addon">from</span>
                <input type="text" class="form-control" value="31/03/1991 01:15"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="datetimepickerrange2">
                <span class="input-group-addon">until</span>
                <input type="text" class="form-control" value="31/03/1991 01:30"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <script>
            $(document).ready(function(){
                calenderPickerRange('datepickerrange1','datepickerrange2');
            });
        </script>
        <label class="control-label col-sm-3">Range Date Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="datepickerrange1">
                <span class="input-group-addon">from</span>
                <input type="text" class="form-control" value="30/03/1991"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group input-group-sm date" id="datepickerrange2">
                <span class="input-group-addon">until</span>
                <input type="text" class="form-control" value="31/03/1991"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Range Combo <span>&nbsp;:</span></label>
        <div class="col-sm-3 own_range">
            <select class="form-control input-sm">
                <option value="">Show All</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control input-sm">
                <option value="">Show All</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Range Input <span>&nbsp;:</span></label>
        <div class="col-sm-3 own_range">
            <input type="text" class="form-control"/>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Range Combo Label <span>&nbsp;:</span></label>
        <div class="col-sm-6">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">from</span>
                <select class="form-control own_input_right">
                    <option value="">Show All</option>
                </select>
                <span class="input-group-addon">to</span>
                <select class="form-control own_input_left">
                    <option value="">Show All</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Range Input Label <span>&nbsp;:</span></label>
        <div class="col-sm-6">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">from</span>
                <input type="text" class="form-control own_input_right"/>
                <span class="input-group-addon">to</span>
                <input type="text" class="form-control own_input_left"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Input Label Right <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control"/>
                <span class="input-group-addon">label</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Input Label Left <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">label</span>
                <input type="text" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Input Checkbox <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control"/>
                <span class="input-group-addon">
                    <input type="checkbox"/>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Input Button <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Sync</button>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Clock Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm clockpicker">
                <input type="text" class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Clock Picker am/pm <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="input-group input-group-sm clockpickerampm">
                <input type="text" class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Color Picker <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <script>
                $(document).ready(function(){
                    colorPicker('color_picker');
                });
            </script>
            <div class="input-group input-group-sm" id="color_picker">
                <input type="text" class="form-control" value="#06ccd9"/>
                <span class="input-group-addon"><i></i></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Checkbox <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="checkbox">
                <label><input type="checkbox"/> Check me out</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Disabled Checkbox <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <div class="checkbox disabled">
                <label><input type="checkbox" disabled="disabled"/> Check me out</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Radio <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <label class="radio-inline">
                <input type="radio" name="optionsRadios" value="option1" checked="checked"/> Option 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadios" value="option2"/> Option 2
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Disabled Radio <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <label class="radio-inline disabled">
                <input type="radio" name="optionsRadiosD" value="option1" disabled="disabled" checked="checked"/> Option 1
            </label>
            <label class="radio-inline disabled">
                <input type="radio" name="optionsRadiosD" value="option2" disabled="disabled"/> Option 2
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Attachment <span>&nbsp;:</span></label>
        <div class="col-sm-3">
           	<script>
				$(document).ready(function(){
					fileStyle("f1");
				});
			</script>
            <input type="file" id="f1"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3">Textarea <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <textarea class="form-control" rows="3"></textarea>
        </div>
    </div>

   	<div class="form-group">
        <label class="control-label col-sm-3">Loader <span>&nbsp;:</span></label>
        <div class="col-sm-3">
            <img src="amn/img/loading.gif" alt="loader">
        </div>
    </div>

     <div class="form-group">
        <label class="control-label col-sm-3">Loader Page <span>&nbsp;:</span></label>
        <div class="col-sm-3">
			<script>
				$(document).ready(function(){
					$('#test').click(function(){
						$('#modal_div').addClass('modal_loader');
						setTimeout(
							function(){
								$('#modal_div').removeClass('modal_loader');
							},6000);
					});
				});
			</script>
			<div id="modal_div" class=""></div>
			<button type="button" class="btn btn-default btn-xs" id="test">Click to show</button>
        </div>
    </div>

  	<div class="form-group">
        <label class="control-label col-sm-3">Tooltip <span>&nbsp;:</span></label>
        <div class="col-sm-6">
           	<button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="Tooltip on left">on left</button>
			<button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Tooltip on top">on top</button>
			<button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">on bottom</button>
			<button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="right" title="Tooltip on right">on right</button>
        </div>
    </div>

    <!-- table add row -->
    <hr/>
    <div class="row">
        <div class="col-xs-12">

        <script>
            $(document).ready(function(){
                fileStyle('file1');
                fileStyle('file2');
            });
        </script>
        <strong>Title Detail1</strong>
        <table class="table_add_row table-hover">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Heading1</th>
                    <th>Heading2</th>
                    <th>Heading3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="action">
                        <button type="button" class="btn btn-default btn-xs" title="Delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td><input type="file" id="file1"/></td>
                    <td>
                        <script>
                            $(document).ready(function(){
                                $("#popup2").click(function() {
                                    showPopup('popupmaster.html#/popup','Function title');
                                });
                            });
                        </script>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control">
                            <span class="input-group-addon" id="popup2" data-toggle="modal">
                                <span class="glyphicon glyphicon-credit-card"></span>
                            </span>
                        </div>
                    </td>
                    <td><input type="text" class="form-control input-sm"/></td>
                </tr>
                <tr>
                    <td class="action">
                        <button type="button" class="btn btn-default btn-xs" title="Delete">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td><input type="file" id="file2"/></td>
                    <td>
                        <script>
                            $(document).ready(function(){
                                $("#popup3").click(function() {
                                    showPopup('popupmaster.html#/popup','Function title');
                                });
                            });
                        </script>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control">
                            <span class="input-group-addon" id="popup3" data-toggle="modal">
                                <span class="glyphicon glyphicon-credit-card"></span>
                            </span>
                        </div>
                    </td>
                    <td><input type="text" class="form-control input-sm"/></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-default btn-sm">Add row</button>

        </div>
    </div>
    <!-- /table add row -->

    <hr/>
    <div class="row">
        <div class="col-xs-12">

            <script>
                $(document).ready(function(){
                    tableResponsive('input_table');
                });
            </script>

            <strong>Title Detail2</strong>
            <table class="rwd_table table-hover" id="input_table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Heading1</th>
                        <th>Heading2</th>
                        <th>Heading3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="counter in counters">
                        <td class="action">
                            <button type="button" class="btn btn-default btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label1<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label2<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label3<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label4<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label5<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label6<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                        </td>
                        <td>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label1<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label2<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label3<span>&nbsp;:</span></label>
                                <div class="col-sm-8">
                                    <select class="form-control input-sm">
                                        <option value="">Show All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label4<span>&nbsp;:</span></label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm date" id="datepicker_td3{{$index}}" ng-click="calender('datepicker_td3' + $index)">
                                        <input type="text" class="form-control" value="31/03/1991"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label1<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                            <div class="row input_row">
                                <label class="col-sm-4 control-label">Label2<span>&nbsp;:</span></label>
                                <div class="col-sm-8"><input type="text" class="form-control input-sm"/></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-default btn-sm">Add row</button>

        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-xs-12">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" ng-init="tab = 1">
                <li role="presentation" class="active"><a href="" ng-click="tab = 1" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="" ng-click="tab = 2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="" ng-click="tab = 3" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="" ng-click="tab = 4" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home" ng-show="tab === 1" ng-class="{active: tab === 1}">Home</div>
                <div role="tabpanel" class="tab-pane" id="profile" ng-show="tab === 2" ng-class="{active: tab === 2}">Profile</div>
                <div role="tabpanel" class="tab-pane" id="messages" ng-show="tab === 3" ng-class="{active: tab === 3}">Messages</div>
                <div role="tabpanel" class="tab-pane" id="settings" ng-show="tab === 4" ng-class="{active: tab === 4}">Settings</div>
            </div>

        </div>
    </div>

    <hr/>
    <script>
        $(document).ready(function(){
            iconColExp('heading1','act1','collapse_1','expand_1');
        });
    </script>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    	<div class="panel panel-default">
    		<div class="panel-heading" role="tab" id="heading1">
    			<h4 class="panel-title">
    				<a role="button" data-toggle="collapse" data-parent="#accordion1" href="?#act1" aria-expanded="true" aria-controls="collapse1" class="">
    					Collapse and Expand 1
                        <i class="fa fa-chevron-right pull-right" aria-hidden="true" id="collapse_1"></i>
                        <i class="fa fa-chevron-down pull-right" aria-hidden="true" id="expand_1"></i>
    				</a>
    			</h4>
    		</div>
    		<div id="act1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1" aria-expanded="true">
    			<div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    			</div>
    		</div>
    	</div>
    </div>

    <hr/>
    <script>
        $(document).ready(function(){
            iconColExp('heading2','act2','collapse_2','expand_2');
        });
    </script>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    	<div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading2">
    			<h4 class="panel-title">
    				<a role="button" data-toggle="collapse" data-parent="#accordion1" href="?#act2" aria-expanded="true" aria-controls="collapse1" class="">
    					Collapse and Expand 2
                        <i class="fa fa-chevron-right pull-right" aria-hidden="true" id="collapse_2"></i>
                        <i class="fa fa-chevron-down pull-right" aria-hidden="true" id="expand_2"></i>
    				</a>
    			</h4>
    		</div>
    		<div id="act2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="true">
    			<div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    			</div>
    		</div>
    	</div>
    </div>

    <div class="row own_action_button">
        <div class="col-xs-12 own_button_position">
            <a href="#/detail" class="btn btn-default btn-sm">Save</a>
            <a href="#/list" class="btn btn-default btn-sm">Cancel</a>
        </div>
    </div>

</form>
